<app-alert-msg 
  *ngIf="showAlert" 
  [message]="msg" 
  [type]="alertType">
</app-alert-msg>

<div class="w-full flex justify-end rounded-xl px-10 bg-black py-3 mt-10 ">
  
  <div>
    <button routerLink="/employees/add" class="px-4 py-2 text-black border-2 border-white  bg-white flex space-x-2 rounded-full text-sm shadow hover:bg-gray-900 hover:text-white ease-in-out duration-300 active:scale-75" >
      <svg
          class="w-6 h-6"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            stroke-linejoin="round"
            stroke-linecap="round"
          ></path>
        </svg>
        <span>Add Employee</span> 
      </button>
    </div>
</div>
<div class="  px-10  mt-10 flex flex-wrap justify-center gap-8 w-full">
  <div *ngFor="let employee of employees" class="sm:w-full md:w-1/3 xl:w-1/4">
    <app-employee-card [employee]="employee" />
  </div>
</div>










