
<div class=" relative flex flex-row items-center w-full">
    <!-- Input Field -->
    <input
      [type]="type"
      [name]="name"
      [id]="name"
      [placeholder]="placeholder"
      [value]="value"
      spellcheck="false"
      autocomplete="off"
      class="peer text-black pl-2 h-[40px] min-h-[50px] pr-[40px] leading-normal appearance-none resize-none box-border text-base w-full text-inherit block text-left border border-solid bg-white  rounded-[10px] m-0 p-0 outline-0 focus-visible:outline-0 focus-visible:border-gray-700 font-semibold focus-visible:outline-none focus-visible:ring-2"
    />
    <!-- Label -->
    <label
      [for]="name"
      class="cursor-text text-[--clr] inline-block z-0 text-sm mb-px  text-start select-none absolute duration-300 transform origin-[0] translate-x-[32px] peer-focus-visible:text-gray-700 font-semibold peer-focus-visible:translate-x-[8px] peer-[:not(:placeholder-shown)]:translate-x-[8px] peer-focus-visible:translate-y-[-36px] peer-[:not(:placeholder-shown)]:translate-y-[-36px]"
    >
      {{ label }}
    </label>
    <!-- Icon Placeholder -->
    <span
      class="pointer-events-none absolute z-[+1] left-0 top-1.5 bottom-0 flex items-center justify-center size-[40px] text-[--clr] peer-focus-visible:hidden peer-[:not(:placeholder-shown)]:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1rem"
        height="1rem"
        stroke-linejoin="round"
        stroke-linecap="round"
        viewBox="0 0 24 24"
        stroke-width="2"
        fill="none"
        stroke="currentColor"
      >
        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
        <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
      </svg>
    </span>
    <!-- Validation Feedback -->
    <div
      class="group w-[40px] absolute top-0 bottom-0 right-0 flex items-center justify-center text-[--clr] peer-focus-visible:text-red-700 font-semibold peer-focus-visible:[&amp;_span]:border-gray-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1rem"
        height="1rem"
        stroke-linejoin="round"
        stroke-linecap="round"
        viewBox="0 0 24 24"
        stroke-width="2"
        fill="none"
        stroke="currentColor"
      >
        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M12 8v4"></path>
        <path d="M12 16h.01"></path>
      </svg>
      
    </div>
  </div>
  